KEDU/kedu_5_4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.zus.pl/2021/KEDU_5_4" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://www.zus.pl/2021/KEDU_5_4" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.4.0">
	<!-- Podpis elektroniczny -->
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://www.w3.org/TR/xmldsig-core/xmldsig-core-schema.xsd"/>
	<!-- Schemat KEDU -->
	<!-- Typy Proste -->
	<xs:simpleType name="t_program_producent">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_program_symbol">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_program_wersja">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_id">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_id_prosty">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_id_zlozony">
		<xs:restriction base="xs:string">
			<xs:maxLength value="51"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_kanal">
		<xs:restriction base="xs:string">
			<xs:enumeration value="E"/>
			<xs:enumeration value="F"/>
			<xs:enumeration value="W"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="C"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_data">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="t_data_i_czas">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="t_adres_KSI_num">
		<xs:restriction base="xs:string">
			<xs:maxLength value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_ID_KEDU">
		<xs:restriction base="t_id_zlozony"/>
	</xs:simpleType>
	<xs:simpleType name="t_data_utworzenia_KEDU">
		<xs:restriction base="t_data"/>
	</xs:simpleType>
	<xs:simpleType name="t_id_nadawcy_ID_KEDU">
		<xs:restriction base="t_adres_KSI_num"/>
	</xs:simpleType>
	<xs:simpleType name="t_id_miejsca_utworzenia">
		<xs:restriction base="t_adres_KSI_num"/>
	</xs:simpleType>
	<xs:simpleType name="t_skrot_KEDU">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="t_skrot_bledow">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="t_status_weryfikacji">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="O"/>
			<xs:enumeration value="R"/>
			<xs:enumeration value="Z"/>
			<xs:enumeration value="I"/>
			<xs:enumeration value="K"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_status_wyliczenia">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="O"/>
			<xs:enumeration value="R"/>
			<xs:enumeration value="Z"/>
			<xs:enumeration value="I"/>
			<xs:enumeration value="K"/>
			<xs:enumeration value="C"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_status_kontroli">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="K"/>
			<xs:enumeration value="W"/>
			<xs:enumeration value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_status_identyfikacji">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="I"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="B"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_id_DP_zrodlo">
		<xs:restriction base="t_id_zlozony"/>
	</xs:simpleType>
	<xs:simpleType name="t_id_DP_pozycja">
		<xs:restriction base="t_id_prosty"/>
	</xs:simpleType>
	<xs:simpleType name="t_data_nadania_DP">
		<xs:restriction base="t_data"/>
	</xs:simpleType>
	<xs:simpleType name="t_data_przyjecia_zrodla_w_KSI">
		<xs:restriction base="t_data"/>
	</xs:simpleType>
	<xs:simpleType name="t_miejsce_przyjecia_zrodla_w_KSI">
		<xs:restriction base="t_adres_KSI_num"/>
	</xs:simpleType>
	<xs:simpleType name="t_data_nadania_id_DP_zrodlo">
		<xs:restriction base="t_data"/>
	</xs:simpleType>
	<xs:simpleType name="t_miejsce_nadania_id_DP_zrodlo">
		<xs:restriction base="t_adres_KSI_num"/>
	</xs:simpleType>
	<xs:simpleType name="t_id_nadawcy_id_DP_zrodlo">
		<xs:restriction base="t_adres_KSI_num"/>
	</xs:simpleType>
	<xs:simpleType name="t_data_nadania_id_DP_pozycja">
		<xs:restriction base="t_data"/>
	</xs:simpleType>
	<xs:simpleType name="t_miejsce_nadania_id_DP_pozycja">
		<xs:restriction base="t_adres_KSI_num"/>
	</xs:simpleType>
	<xs:simpleType name="t_id_nadawcy_id_DP_pozycja">
		<xs:restriction base="t_adres_KSI_num"/>
	</xs:simpleType>
	<xs:simpleType name="t_kanal_wprowadzenia">
		<xs:restriction base="t_kanal"/>
	</xs:simpleType>
	<xs:simpleType name="t_status_DP">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:pattern value="[1-8]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_wersja_biblioteki_weryfikacji">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_wersja_dokumentu">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_rodzaj_formularza">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_blad_kod">
		<xs:restriction base="t_id"/>
	</xs:simpleType>
	<xs:simpleType name="t_blad_klasa">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="O"/>
			<xs:enumeration value="R"/>
			<xs:enumeration value="Z"/>
			<xs:enumeration value="I"/>
			<xs:enumeration value="K"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_blad_id_dokumentu">
		<xs:restriction base="t_id"/>
	</xs:simpleType>
	<xs:simpleType name="t_blad_blok">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_blad_pole">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_blad_id_bloku">
		<xs:restriction base="t_id"/>
	</xs:simpleType>
	<xs:simpleType name="t_blad_opis">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="t_blad_id_obiektu">
		<xs:restriction base="t_id"/>
	</xs:simpleType>
	<xs:simpleType name="t_blad_typ_obiektu">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="t_NazwaSkr">
		<xs:restriction base="xs:string">
			<xs:maxLength value="31"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_RodzDok">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_SeriaNrDok">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Nazwisko">
		<xs:restriction base="xs:string">
			<xs:maxLength value="31"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_ImiePierw">
		<xs:restriction base="xs:string">
			<xs:maxLength value="31"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_NIP">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Pesel">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Regon">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Numer">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_IdentDeklRap_2">
		<xs:restriction base="t_Numer"/>
	</xs:simpleType>
	<xs:simpleType name="t_IdentInf_2">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_IdentZgl_3">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:pattern value="\d{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_DATAMMRRRR">
		<xs:restriction base="xs:gYearMonth">
			<xs:minInclusive value="1999-01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Data_DDMMRRRR_8">
		<xs:restriction base="t_data"/>
	</xs:simpleType>
	<xs:simpleType name="t_Data_MMRRRR_6">
		<xs:restriction base="t_DATAMMRRRR"/>
	</xs:simpleType>
	<xs:simpleType name="t_Data_RRRR_1999_4">
		<xs:restriction base="xs:gYear">
			<xs:minInclusive value="1999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Data_RRRR_2003_4">
		<xs:restriction base="xs:gYear">
			<xs:minInclusive value="2003"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Data_RRRR_2009_4">
		<xs:restriction base="xs:gYear">
			<xs:minInclusive value="2009"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Data_RRRR">
		<xs:restriction base="xs:gYear"/>
	</xs:simpleType>
	<xs:simpleType name="t_eMail_30">
		<xs:restriction base="t_EMAIL"/>
	</xs:simpleType>
	<xs:simpleType name="t_Gmina_26">
		<xs:restriction base="xs:string">
			<xs:maxLength value="26"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_IdentyfikatorPlatnUbezp_9">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_IdentyfikatorUbezpRaporty_11">
		<xs:restriction base="xs:string">
			<xs:maxLength value="11"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Imie_22">
		<xs:restriction base="xs:string">
			<xs:maxLength value="22"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Info_o_Przekr_1">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Kod_PKD_5">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
			<xs:minLength value="4"/>
			<xs:pattern value="\d{4}[A-Z]?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_KodNFZ_3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_KodOtwarciaZamknieciaRachBank_1">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_KodPocztowy_5">
		<xs:restriction base="xs:string">
			<xs:length value="5"/>
			<xs:pattern value="\d{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_KodPracywSzczegolnychWarunkach_3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_KodPracywSzczegolnychWarunkach_9">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_NazwaStanowiskaPracy_36">
		<xs:restriction base="xs:string">
			<xs:maxLength value="36"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_KodPrzyczynyWyrejestrPl_A_3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_KodPrzyczynyWyrejestrUbezp_B_3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_KodRodzajuZglAdresProwDzial_1">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_KodRodzUprawnDzialPozarolnic_2">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_KodStopniaPokrewienstwa_2">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_KodSwiadczeniaPrzerwy_3">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:pattern value="\d{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_KodTerminuPrzyslaniaDeklarac_1">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:pattern value="\d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_KodWygasStosSluzb_3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_KodPodstPrawnej_3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_PodstawaPrawna_72">
		<xs:restriction base="xs:string">
			<xs:maxLength value="72"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_StronaInicjujaca_1">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="1"/>
			<xs:pattern value="[1-2]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_KodTerytJednZUS_6">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_KodTytUbezp_KodUbezp_4">
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:pattern value="\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_KodTytUbezp_PrawoDoEmerRent_1">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:pattern value="\d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_KodTytUbezp_KodStopniaNiep_1">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:pattern value="\d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_KodWykonywanegoZawodu_6">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Kwota_7">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="\d{1,5}\.\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Kwota_8">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="\d{1,6}\.\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Kwota_10">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="\d{1,8}\.\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Kwota_11">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="\d{1,9}\.\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Kwota_12">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="\d{1,10}\.\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Kwota_13">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="\d{1,11}\.\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Liczba_2">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Liczba_3">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Liczba_6">
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<xs:simpleType name="t_LiczbaDni_3">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_LiczbaOsob_6">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Miejscowosc_26">
		<xs:restriction base="xs:string">
			<xs:maxLength value="26"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Nalepka_R_20">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_NazwaFirmy_62">
		<xs:restriction base="xs:string">
			<xs:maxLength value="62"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_NazwaOrganu_31">
		<xs:restriction base="xs:string">
			<xs:maxLength value="31"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_NazwaOrganu_72">
		<xs:restriction base="xs:string">
			<xs:maxLength value="72"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_NazwaSkrocona_31">
		<xs:restriction base="xs:string">
			<xs:maxLength value="31"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Nazwisko_31">
		<xs:restriction base="xs:string">
			<xs:maxLength value="31"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_NIP_10">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="10"/>
			<xs:pattern value="\d{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_NrLokaluDomu_7">
		<xs:restriction base="xs:string">
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_NrRachunku_36">
		<xs:restriction base="xs:string">
			<xs:maxLength value="36"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_NrUprawnienia_15">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_NrWpisuDoRejestru_15">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Obywatelstwo_22">
		<xs:restriction base="xs:string">
			<xs:maxLength value="22"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_PESEL_11">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="11"/>
			<xs:pattern value="\d{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Plec_1">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_REGON_14">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="14"/>
			<xs:pattern value="\d{9}"/>
			<xs:pattern value="\d{14}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_RodzajDokumentu_1">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_RodzajZgloszenia_1">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_SkrytkaPocztowa_5">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_SlownikPrac_1">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_StopaWypadkowa_4">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="\d{1,2}\.\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_TAK_NIE_1">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="t_Telefon_12">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_TypIdentyfikatora_1">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Ulica_30">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_WymiarCzasuPracy_Licznik_3">
		<xs:restriction base="t_Liczba_3"/>
	</xs:simpleType>
	<xs:simpleType name="t_WymiarCzasuPracy_Mian_3">
		<xs:restriction base="t_Liczba_3"/>
	</xs:simpleType>
	<xs:simpleType name="t_ZgloszCzlDlaWersjiA_1">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_ZnakiNrSprawy_12">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_EMAIL">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- Grupy Atrybutów -->
	<!-- Atrybuty Bloku Wielokrotnego -->
	<xs:attributeGroup name="AtrybutyBlokuWielokrotnego">
		<xs:attribute name="id_bloku" type="t_id" use="required"/>
		<xs:attribute name="status_weryfikacji" type="t_status_weryfikacji" use="optional"/>
		<xs:attribute name="status_kontroli" type="t_status_kontroli" use="optional"/>
	</xs:attributeGroup>
	<!-- Atrybuty Bloku Wielokrotnego Dokumentu Rozliczeniowego-->
	<xs:attributeGroup name="AtrybutyBlokuRaportu">
		<xs:attribute name="status_wyliczenia" type="t_status_wyliczenia" use="optional"/>
	</xs:attributeGroup>
	<!-- Atrybuty Dokumentu Płatnika -->
	<xs:attributeGroup name="AtrybutyDokumentu">
		<xs:attribute name="id_dokumentu" type="t_id" use="required"/>
		<xs:attribute name="kolejnosc" type="t_id" use="optional"/>
		<xs:attribute name="status_weryfikacji" type="t_status_weryfikacji" use="optional"/>
		<xs:attribute name="status_kontroli" type="t_status_kontroli" use="optional"/>
	</xs:attributeGroup>
	<!-- Atrybuty Dokumentu Rozliczeniowego -->
	<xs:attributeGroup name="AtrybutyDeklaracjiRaportu">
		<xs:attribute name="status_wyliczenia" type="t_status_wyliczenia" use="optional"/>
	</xs:attributeGroup>
	<!-- Atrybuty Zestawu -->
	<xs:attributeGroup name="AtrybutyZestawu">
		<xs:attribute name="id_zestawu" type="t_id" use="required"/>
		<xs:attribute name="id_platnika" type="t_id" use="optional"/>
		<xs:attribute name="P_Nip" type="t_NIP" use="optional"/>
		<xs:attribute name="P_Regon" type="t_Regon" use="optional"/>
		<xs:attribute name="P_NazwaSkr" type="t_NazwaSkr" use="optional"/>
		<xs:attribute name="P_Pesel" type="t_Pesel" use="optional"/>
		<xs:attribute name="P_RodzDok" type="t_RodzDok" use="optional"/>
		<xs:attribute name="P_SeriaNrDok" type="t_SeriaNrDok" use="optional"/>
		<xs:attribute name="P_Nazwisko" type="t_Nazwisko" use="optional"/>
		<xs:attribute name="P_Imie" type="t_ImiePierw" use="optional"/>
		<xs:attribute name="status_weryfikacji" type="t_status_weryfikacji" use="optional"/>
		<xs:attribute name="status_kontroli" type="t_status_kontroli" use="optional"/>
		<xs:attribute name="status_wyliczenia" type="t_status_wyliczenia" use="optional"/>
	</xs:attributeGroup>
	<!-- Atrybuty KEDU (wersja schematu) -->
	<xs:attributeGroup name="AtrybutyKEDU">
		<xs:attribute name="wersja_schematu" type="xs:string" use="required" fixed="1"/>
	</xs:attributeGroup>
	<!-- Typy Złożone -->
	<xs:complexType name="t_program">
		<xs:sequence>
			<xs:element name="producent" type="t_program_producent"/>
			<xs:element name="symbol" type="t_program_symbol"/>
			<xs:element name="wersja" type="t_program_wersja"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_cecha">
		<xs:sequence>
			<xs:element name="wartosc" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="nazwa" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="t_cechy">
		<xs:sequence>
			<xs:element name="cecha" type="t_cecha" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_dane_PL_id">
		<xs:sequence>
			<xs:element name="id_PL_systemowy" type="t_id" minOccurs="0"/>
			<xs:element name="id_PL_systemowy_status" type="t_status_identyfikacji" minOccurs="0"/>
			<xs:element name="id_PL_ZUS" type="t_id" minOccurs="0"/>
			<xs:element name="id_PL_ZUS_status" type="t_status_identyfikacji" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_dane_UB_id">
		<xs:sequence>
			<xs:element name="id_UB_systemowy" type="t_id" minOccurs="0"/>
			<xs:element name="id_UB_systemowy_status" type="t_status_identyfikacji" minOccurs="0"/>
			<xs:element name="id_UB_ZUS" type="t_id" minOccurs="0"/>
			<xs:element name="id_UB_ZUS_status" type="t_status_identyfikacji" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_IdentyfikatorDeklRap_8">
		<xs:sequence>
			<xs:element name="p1" type="t_IdentDeklRap_2"/>
			<xs:element name="p2" type="t_Data_MMRRRR_6"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_IdentyfikatorInf_6">
		<xs:sequence>
			<xs:element name="p1" type="t_IdentInf_2"/>
			<xs:element name="p2" type="t_Data_RRRR_2003_4"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_IdentyfikatorZgl_7">
		<xs:sequence>
			<xs:element name="p1" type="t_IdentZgl_3"/>
			<xs:element name="p2" type="t_Data_RRRR_2009_4"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_KodTytuluUbezpieczenia_6">
		<xs:sequence>
			<xs:element name="p1" type="t_KodTytUbezp_KodUbezp_4"/>
			<xs:element name="p2" type="t_KodTytUbezp_PrawoDoEmerRent_1"/>
			<xs:element name="p3" type="t_KodTytUbezp_KodStopniaNiep_1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_OkresOdDo_16">
		<xs:sequence>
			<xs:element name="p1" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p2" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_WymiarCzasuPracy_6">
		<xs:sequence>
			<xs:element name="p1" type="t_WymiarCzasuPracy_Licznik_3" minOccurs="0"/>
			<xs:element name="p2" type="t_WymiarCzasuPracy_Mian_3" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="t_WymiarCzasuZajec_Licznik_3">
		<xs:restriction base="t_Liczba_3"/>
	</xs:simpleType>
	<xs:simpleType name="t_WymiarCzasuZajec_Mian_3">
		<xs:restriction base="t_Liczba_3"/>
	</xs:simpleType>
	<xs:complexType name="t_WymiarCzasuZajec_6">
		<xs:sequence>
			<xs:element name="p1" type="t_WymiarCzasuZajec_Licznik_3" minOccurs="0"/>
			<xs:element name="p2" type="t_WymiarCzasuZajec_Mian_3" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Typy Bloków-->
	<!-- Blok Nagłówka KEDU -->
	<xs:complexType name="t_naglowek_KEDU">
		<xs:sequence>
			<xs:element name="program" type="t_program"/>
			<xs:element name="ID_KEDU" type="t_ID_KEDU" minOccurs="0"/>
			<xs:element name="data_utworzenia_KEDU" type="t_data_utworzenia_KEDU" minOccurs="0"/>
			<xs:element name="id_nadawcy_ID_KEDU" type="t_id_nadawcy_ID_KEDU" minOccurs="0"/>
			<xs:element name="id_miejsca_utworzenia" type="t_id_miejsca_utworzenia" minOccurs="0"/>
			<xs:element name="skrot_KEDU" type="t_skrot_KEDU" minOccurs="0"/>
			<xs:element name="skrot_wynikow_weryfikacji" type="t_skrot_bledow" minOccurs="0"/>
			<xs:element name="status_weryfikacji" type="t_status_weryfikacji" minOccurs="0"/>
			<xs:element name="status_kontroli" type="t_status_kontroli" minOccurs="0"/>
			<xs:element name="status_wyliczenia" type="t_status_wyliczenia" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Blok Nagłówka Dokumentu Płatnika-->
	<xs:complexType name="t_naglowek_DP">
		<xs:sequence>
			<xs:element name="id_DP_zrodlo" type="t_id_DP_zrodlo" minOccurs="0"/>
			<xs:element name="id_DP_pozycja" type="t_id_DP_pozycja" minOccurs="0"/>
			<xs:element name="data_nadania_DP" type="t_data_nadania_DP" minOccurs="0"/>
			<xs:element name="data_przyjecia_zrodla_w_KSI" type="t_data_przyjecia_zrodla_w_KSI" minOccurs="0"/>
			<xs:element name="miejsce_przyjecia_zrodla_w_KSI" type="t_miejsce_przyjecia_zrodla_w_KSI" minOccurs="0"/>
			<xs:element name="data_nadania_id_DP_zrodlo" type="t_data_nadania_id_DP_zrodlo" minOccurs="0"/>
			<xs:element name="miejsce_nadania_id_DP_zrodlo" type="t_miejsce_nadania_id_DP_zrodlo" minOccurs="0"/>
			<xs:element name="id_nadawcy_id_DP_zrodlo" type="t_id_nadawcy_id_DP_zrodlo" minOccurs="0"/>
			<xs:element name="data_nadania_id_DP_pozycja" type="t_data_nadania_id_DP_pozycja" minOccurs="0"/>
			<xs:element name="miejsce_nadania_id_DP_pozycja" type="t_miejsce_nadania_id_DP_pozycja" minOccurs="0"/>
			<xs:element name="id_nadawcy_id_DP_pozycja" type="t_id_nadawcy_id_DP_pozycja" minOccurs="0"/>
			<xs:element name="kanal_wprowadzenia" type="t_kanal_wprowadzenia" minOccurs="0"/>
			<xs:element name="status_DP" type="t_status_DP" minOccurs="0"/>
			<xs:element name="wersja_biblioteki_weryfikacji" type="t_wersja_biblioteki_weryfikacji" minOccurs="0"/>
			<xs:element name="wersja_dokumentu" type="t_wersja_dokumentu" minOccurs="0"/>
			<xs:element name="rodzaj_formularza" type="t_rodzaj_formularza" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Blok Miejsc Wystąpienia Błędu -->
	<xs:complexType name="t_blad_miejsce">
		<xs:sequence>
			<xs:element name="id_obiektu" type="t_blad_id_obiektu"/>
			<xs:element name="typ" type="t_blad_typ_obiektu"/>
			<xs:element name="blok" type="t_blad_blok" minOccurs="0"/>
			<xs:element name="pole" type="t_blad_pole" minOccurs="0"/>
			<xs:element name="id_bloku" type="t_blad_id_bloku" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Blok Błędów -->
	<xs:complexType name="t_blad">
		<xs:sequence>
			<xs:element name="kod" type="t_blad_kod"/>
			<xs:element name="klasa" type="t_blad_klasa"/>
			<xs:element name="id_dokumentu" type="t_blad_id_dokumentu" minOccurs="0"/>
			<xs:element name="blok" type="t_blad_blok" minOccurs="0"/>
			<xs:element name="pole" type="t_blad_pole" minOccurs="0"/>
			<xs:element name="id_bloku" type="t_blad_id_bloku" minOccurs="0"/>
			<xs:element name="opis" type="t_blad_opis" minOccurs="0"/>
			<xs:element name="miejsce" type="t_blad_miejsce" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Blok Stopki Dokumentu Płatnika -->
	<xs:complexType name="t_stopka_DP">
		<xs:sequence>
			<xs:element name="blad" type="t_blad" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Blok Stopki Zestawu Dokumentów Płatnika -->
	<xs:complexType name="t_stopka_ZDP">
		<xs:sequence>
			<xs:element name="blad" type="t_blad" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Blok Stopki KEDU -->
	<xs:complexType name="t_stopka_KEDU">
		<xs:sequence>
			<xs:element name="blad" type="t_blad" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Typy Bloków Dokumentów -->
	<xs:complexType name="t_DADRA">
		<xs:sequence>
			<xs:element name="p1" type="t_KodTerminuPrzyslaniaDeklarac_1"/>
			<xs:element name="p2" type="t_IdentyfikatorDeklRap_8"/>
			<xs:element name="p3" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p4" type="t_Nalepka_R_20" minOccurs="0"/>
			<xs:element name="p5" type="t_ZnakiNrSprawy_12" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DIPL">
		<xs:sequence>
			<xs:element name="p1" type="t_NIP_10" minOccurs="0"/>
			<xs:element name="p2" type="t_REGON_14" minOccurs="0"/>
			<xs:element name="p3" type="t_PESEL_11" minOccurs="0"/>
			<xs:element name="p4" type="t_RodzajDokumentu_1" minOccurs="0"/>
			<xs:element name="p5" type="t_IdentyfikatorPlatnUbezp_9" minOccurs="0"/>
			<xs:element name="p6" type="t_NazwaSkrocona_31" minOccurs="0"/>
			<xs:element name="p7" type="t_Nazwisko_31" minOccurs="0"/>
			<xs:element name="p8" type="t_Imie_22" minOccurs="0"/>
			<xs:element name="p9" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_INNI">
		<xs:sequence>
			<xs:element name="p1" type="t_LiczbaOsob_6" minOccurs="0"/>
			<xs:element name="p2" type="t_SlownikPrac_1" minOccurs="0"/>
			<xs:element name="p3" type="t_StopaWypadkowa_4" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_ZSDRAI">
		<xs:sequence>
			<xs:element name="p1" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p2" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p3" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p4" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p5" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p6" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p7" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p8" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p9" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p10" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p11" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p12" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p13" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p14" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p15" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p16" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p17" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p18" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p19" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p20" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p21" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p22" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p23" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p24" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p25" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p26" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p27" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p28" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p29" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p30" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p31" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p32" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p33" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p34" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p35" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p36" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p37" type="t_Kwota_12" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_ZWDRA">
		<xs:sequence>
			<xs:element name="p1" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p2" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p3" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p4" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p5" type="t_Kwota_12" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_RIXDRA">
		<xs:sequence>
			<xs:element name="p1" type="t_Kwota_13" minOccurs="0"/>
			<xs:element name="p2" type="t_Kwota_13" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_ZSDRA">
		<xs:sequence>
			<xs:element name="p1" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p2" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p3" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p4" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p5" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p6" type="t_Kwota_10" minOccurs="0"/>
			<xs:element name="p7" type="t_Kwota_12" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_ZDRAV">
		<xs:sequence>
			<xs:element name="p1" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p2" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p3" type="t_Kwota_12" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_LSKD">
		<xs:sequence>
			<xs:element name="p1" type="t_Liczba_6" minOccurs="0"/>
			<xs:element name="p2" type="t_Liczba_6" minOccurs="0"/>
			<xs:element name="p3" type="t_Kwota_12" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DDDU">
		<xs:sequence>
			<xs:element name="p1" type="t_KodTytuluUbezpieczenia_6" minOccurs="0"/>
			<xs:element name="p2" type="t_Kwota_10" minOccurs="0"/>
			<xs:element name="p3" type="t_Kwota_10" minOccurs="0"/>
			<xs:element name="p4" type="t_Kwota_10" minOccurs="0"/>
			<xs:element name="p5" type="t_Kwota_10" minOccurs="0"/>
			<xs:element name="p6" type="t_Info_o_Przekr_1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_ZDR">
		<xs:sequence>
			<xs:element name="p1" type="t_TAK_NIE_1" minOccurs="0"/>
			<xs:element name="p2" type="t_Kwota_10" minOccurs="0"/>
			<xs:element name="p3" type="t_Kwota_10" minOccurs="0"/>
			<xs:element name="p4" type="t_Kwota_10" minOccurs="0"/>
			<xs:element name="p5" type="t_TAK_NIE_1" minOccurs="0"/>
			<xs:element name="p6" type="t_Kwota_10" minOccurs="0"/>
			<xs:element name="p7" type="t_Kwota_10" minOccurs="0"/>
			<xs:element name="p8" type="t_Kwota_10" minOccurs="0"/>
			<xs:element name="p9" type="t_TAK_NIE_1" minOccurs="0"/>
			<xs:element name="p10" type="t_Kwota_10" minOccurs="0"/>
			<xs:element name="p11" type="t_Kwota_10" minOccurs="0"/>
			<xs:element name="p12" type="t_TAK_NIE_1" minOccurs="0"/>
			<xs:element name="p13" type="t_Kwota_10" minOccurs="0"/>
			<xs:element name="p14" type="t_TAK_NIE_1" minOccurs="0"/>
			<xs:element name="p15" type="t_Kwota_10" minOccurs="0"/>
			<xs:element name="p16" type="t_Kwota_10" minOccurs="0"/>
			<xs:element name="p17" type="t_Kwota_10" minOccurs="0"/>
			<xs:element name="p18" type="t_TAK_NIE_1" minOccurs="0"/>
			<xs:element name="p19" type="t_Kwota_10" minOccurs="0"/>
			<xs:element name="p20" type="t_Kwota_10" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_RRSR">
		<xs:sequence>
			<xs:element name="p1" type="t_Data_RRRR" minOccurs="0"/>
			<xs:element name="p2" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p3" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p4" type="t_Kwota_11" minOccurs="0"/>
			<xs:element name="p5" type="t_Kwota_11" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_OPLS">
		<xs:sequence>
			<xs:element name="p1" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DOIWA">
		<xs:sequence>
			<xs:element name="p1" type="t_IdentyfikatorInf_6"/>
			<xs:element name="p2" type="t_KodTerytJednZUS_6" minOccurs="0"/>
			<xs:element name="p3" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p4" type="t_Nalepka_R_20" minOccurs="0"/>
			<xs:element name="p5" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p6" type="t_ZnakiNrSprawy_12" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DOLUUW">
		<xs:sequence>
			<xs:element name="p1" type="t_LiczbaOsob_6"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_ZDKRPS">
		<xs:sequence>
			<xs:element name="p1" type="t_Kod_PKD_5"/>
			<xs:element name="p2" type="t_LiczbaOsob_6"/>
			<xs:element name="p3" type="t_LiczbaOsob_6"/>
			<xs:element name="p4" type="t_LiczbaOsob_6"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_ADKP">
		<xs:sequence>
			<xs:element name="p1" type="t_KodPocztowy_5" minOccurs="0"/>
			<xs:element name="p2" type="t_Miejscowosc_26" minOccurs="0"/>
			<xs:element name="p3" type="t_Ulica_30" minOccurs="0"/>
			<xs:element name="p4" type="t_NrLokaluDomu_7" minOccurs="0"/>
			<xs:element name="p5" type="t_NrLokaluDomu_7" minOccurs="0"/>
			<xs:element name="p6" type="t_Telefon_12" minOccurs="0"/>
			<xs:element name="p7" type="t_SkrytkaPocztowa_5" minOccurs="0"/>
			<xs:element name="p8" type="t_Telefon_12" minOccurs="0"/>
			<xs:element name="p9" type="t_Telefon_12" minOccurs="0"/>
			<xs:element name="p10" type="t_eMail_30" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_OPLR">
		<xs:sequence>
			<xs:element name="p1" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DORCA">
		<xs:sequence>
			<xs:element name="p1" type="t_IdentyfikatorDeklRap_8"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DDORCA">
		<xs:sequence>
			<xs:element name="identyfikacja.UB" type="t_dane_UB_id" minOccurs="0"/>
			<xs:element name="cechy.BL" type="t_cechy" minOccurs="0"/>
			<xs:element name="A" type="t_DDORCA_A"/>
			<xs:element name="B" type="t_DDORCA_B"/>
			<xs:element name="C" type="t_DDORCA_C" minOccurs="0"/>
			<xs:element name="D" type="t_DDORCA_D" minOccurs="0"/>
			<xs:element name="E" type="t_ZDR" minOccurs="0"/>
			<xs:element name="F" type="t_RRSR" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyBlokuWielokrotnego"/>
		<xs:attributeGroup ref="AtrybutyBlokuRaportu"/>
	</xs:complexType>
	<xs:complexType name="t_DORSA">
		<xs:sequence>
			<xs:element name="p1" type="t_IdentyfikatorDeklRap_8"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DDORSA">
		<xs:sequence>
			<xs:element name="identyfikacja.UB" type="t_dane_UB_id" minOccurs="0"/>
			<xs:element name="cechy.BL" type="t_cechy" minOccurs="0"/>
			<xs:element name="A" type="t_DDORSA_A"/>
			<xs:element name="B" type="t_DDORSA_B"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyBlokuWielokrotnego"/>
		<xs:attributeGroup ref="AtrybutyBlokuRaportu"/>
	</xs:complexType>
	<xs:complexType name="t_DOZCBA">
		<xs:sequence>
			<xs:element name="p1" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p2" type="t_Nalepka_R_20" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_ADPGAP">
		<xs:sequence>
			<xs:element name="cechy.BL" type="t_cechy" minOccurs="0"/>
			<xs:element name="p1" type="t_KodRodzajuZglAdresProwDzial_1" minOccurs="0"/>
			<xs:element name="p2" type="t_KodPocztowy_5" minOccurs="0"/>
			<xs:element name="p3" type="t_Miejscowosc_26" minOccurs="0"/>
			<xs:element name="p4" type="t_Gmina_26" minOccurs="0"/>
			<xs:element name="p5" type="t_Ulica_30" minOccurs="0"/>
			<xs:element name="p6" type="t_NrLokaluDomu_7" minOccurs="0"/>
			<xs:element name="p7" type="t_NrLokaluDomu_7" minOccurs="0"/>
			<xs:element name="p8" type="t_Telefon_12" minOccurs="0"/>
			<xs:element name="p9" type="t_Telefon_12" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyBlokuWielokrotnego"/>
	</xs:complexType>
	<xs:complexType name="t_OPL1">
		<xs:sequence>
			<xs:element name="p1" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_IORB">
		<xs:sequence>
			<xs:element name="cechy.BL" type="t_cechy" minOccurs="0"/>
			<xs:element name="p1" type="t_KodOtwarciaZamknieciaRachBank_1" minOccurs="0"/>
			<xs:element name="p2" type="t_NrRachunku_36" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyBlokuWielokrotnego"/>
	</xs:complexType>
	<xs:complexType name="t_DAU">
		<xs:sequence>
			<xs:element name="p1" type="t_PESEL_11" minOccurs="0"/>
			<xs:element name="p2" type="t_NIP_10" minOccurs="0"/>
			<xs:element name="p3" type="t_RodzajDokumentu_1" minOccurs="0"/>
			<xs:element name="p4" type="t_IdentyfikatorPlatnUbezp_9" minOccurs="0"/>
			<xs:element name="p5" type="t_Nazwisko_31" minOccurs="0"/>
			<xs:element name="p6" type="t_Imie_22" minOccurs="0"/>
			<xs:element name="p7" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DCRAP">
		<xs:sequence>
			<xs:element name="cechy.BL" type="t_cechy" minOccurs="0"/>
			<xs:element name="A" type="t_DCRAP_A" minOccurs="0"/>
			<xs:element name="B" type="t_DCRAP_B" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyBlokuWielokrotnego"/>
	</xs:complexType>
	<xs:complexType name="t_DOZPF">
		<xs:sequence>
			<xs:element name="p1" type="t_TAK_NIE_1" minOccurs="0"/>
			<xs:element name="p2" type="t_RodzajZgloszenia_1" minOccurs="0"/>
			<xs:element name="p3" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p4" type="t_Nalepka_R_20" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DEPL">
		<xs:sequence>
			<xs:element name="p1" type="t_Imie_22" minOccurs="0"/>
			<xs:element name="p2" type="t_Miejscowosc_26" minOccurs="0"/>
			<xs:element name="p3" type="t_Obywatelstwo_22" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_PPDB">
		<xs:sequence>
			<xs:element name="p1" type="t_KodRodzUprawnDzialPozarolnic_2" minOccurs="0"/>
			<xs:element name="p2" type="t_NrUprawnienia_15" minOccurs="0"/>
			<xs:element name="p3" type="t_NazwaOrganu_72" minOccurs="0"/>
			<xs:element name="p4" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p5" type="t_Data_DDMMRRRR_8"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DORB">
		<xs:sequence>
			<xs:element name="p1" type="t_NrRachunku_36" minOccurs="0"/>
			<xs:element name="p2" type="t_TAK_NIE_1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_ADSAPAP">
		<xs:sequence>
			<xs:element name="p1" type="t_KodPocztowy_5" minOccurs="0"/>
			<xs:element name="p2" type="t_Miejscowosc_26" minOccurs="0"/>
			<xs:element name="p3" type="t_Gmina_26" minOccurs="0"/>
			<xs:element name="p4" type="t_Ulica_30" minOccurs="0"/>
			<xs:element name="p5" type="t_NrLokaluDomu_7" minOccurs="0"/>
			<xs:element name="p6" type="t_NrLokaluDomu_7" minOccurs="0"/>
			<xs:element name="p7" type="t_Telefon_12" minOccurs="0"/>
			<xs:element name="p8" type="t_Telefon_12" minOccurs="0"/>
			<xs:element name="p9" type="t_eMail_30" minOccurs="0"/>
			<xs:element name="p10" type="t_TAK_NIE_1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_ADZMPAP">
		<xs:sequence>
			<xs:element name="p1" type="t_KodPocztowy_5" minOccurs="0"/>
			<xs:element name="p2" type="t_Miejscowosc_26" minOccurs="0"/>
			<xs:element name="p3" type="t_Gmina_26" minOccurs="0"/>
			<xs:element name="p4" type="t_Ulica_30" minOccurs="0"/>
			<xs:element name="p5" type="t_NrLokaluDomu_7" minOccurs="0"/>
			<xs:element name="p6" type="t_NrLokaluDomu_7" minOccurs="0"/>
			<xs:element name="p7" type="t_Telefon_12" minOccurs="0"/>
			<xs:element name="p8" type="t_Telefon_12" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DOBR">
		<xs:sequence>
			<xs:element name="p1" type="t_NIP_10" minOccurs="0"/>
			<xs:element name="p2" type="t_REGON_14" minOccurs="0"/>
			<xs:element name="p3" type="t_NazwaSkrocona_31" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_OPL2">
		<xs:sequence>
			<xs:element name="p1" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DOZIPA">
		<xs:sequence>
			<xs:element name="p1" type="t_RodzajZgloszenia_1" minOccurs="0"/>
			<xs:element name="p2" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p3" type="t_Nalepka_R_20" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_ADIP">
		<xs:sequence>
			<xs:element name="p1" type="t_NIP_10" minOccurs="0"/>
			<xs:element name="p2" type="t_REGON_14" minOccurs="0"/>
			<xs:element name="p3" type="t_PESEL_11" minOccurs="0"/>
			<xs:element name="p4" type="t_RodzajDokumentu_1" minOccurs="0"/>
			<xs:element name="p5" type="t_IdentyfikatorPlatnUbezp_9" minOccurs="0"/>
			<xs:element name="p6" type="t_NazwaSkrocona_31" minOccurs="0"/>
			<xs:element name="p7" type="t_Nazwisko_31" minOccurs="0"/>
			<xs:element name="p8" type="t_Imie_22" minOccurs="0"/>
			<xs:element name="p9" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DOZIUA">
		<xs:sequence>
			<xs:element name="p1" type="t_RodzajZgloszenia_1" minOccurs="0"/>
			<xs:element name="p2" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p3" type="t_Nalepka_R_20" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DIOP">
		<xs:sequence>
			<xs:element name="p1" type="t_PESEL_11" minOccurs="0"/>
			<xs:element name="p2" type="t_NIP_10" minOccurs="0"/>
			<xs:element name="p3" type="t_RodzajDokumentu_1" minOccurs="0"/>
			<xs:element name="p4" type="t_IdentyfikatorPlatnUbezp_9" minOccurs="0"/>
			<xs:element name="p5" type="t_Nazwisko_31" minOccurs="0"/>
			<xs:element name="p6" type="t_Imie_22" minOccurs="0"/>
			<xs:element name="p7" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_ADIU">
		<xs:sequence>
			<xs:element name="p1" type="t_PESEL_11" minOccurs="0"/>
			<xs:element name="p2" type="t_NIP_10" minOccurs="0"/>
			<xs:element name="p3" type="t_RodzajDokumentu_1" minOccurs="0"/>
			<xs:element name="p4" type="t_IdentyfikatorPlatnUbezp_9" minOccurs="0"/>
			<xs:element name="p5" type="t_Nazwisko_31" minOccurs="0"/>
			<xs:element name="p6" type="t_Imie_22" minOccurs="0"/>
			<xs:element name="p7" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DAIP">
		<xs:sequence>
			<xs:element name="p1" type="t_NIP_10" minOccurs="0"/>
			<xs:element name="p2" type="t_REGON_14" minOccurs="0"/>
			<xs:element name="p3" type="t_NazwaSkrocona_31" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DEWPLP">
		<xs:sequence>
			<xs:element name="p1" type="t_NazwaFirmy_62" minOccurs="0"/>
			<xs:element name="p2" type="t_TAK_NIE_1" minOccurs="0"/>
			<xs:element name="p3" type="t_TAK_NIE_1" minOccurs="0"/>
			<xs:element name="p4" type="t_NazwaOrganu_31" minOccurs="0"/>
			<xs:element name="p5" type="t_TAK_NIE_1" minOccurs="0"/>
			<xs:element name="p6" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p7" type="t_NrWpisuDoRejestru_15" minOccurs="0"/>
			<xs:element name="p8" type="t_NazwaOrganu_72" minOccurs="0"/>
			<xs:element name="p9" type="t_Data_DDMMRRRR_8"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DOZD">
		<xs:sequence>
			<xs:element name="p1" type="t_IdentyfikatorZgl_7"/>
			<xs:element name="p2" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p3" type="t_Nalepka_R_20" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DOOPWSW">
		<xs:sequence>
			<xs:element name="identyfikacja.UB" type="t_dane_UB_id" minOccurs="0"/>
			<xs:element name="cechy.BL" type="t_cechy" minOccurs="0"/>
			<xs:element name="A" type="t_DOOPWSW_A" minOccurs="0"/>
			<xs:element name="B" type="t_DOOPWSW_B" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyBlokuWielokrotnego"/>
	</xs:complexType>
	<xs:complexType name="t_DOOPWSW_A">
		<xs:sequence>
			<xs:element name="p1" type="t_TAK_NIE_1" minOccurs="0"/>
			<xs:element name="p2" type="t_TAK_NIE_1" minOccurs="0"/>
			<xs:element name="p3" type="t_PESEL_11" minOccurs="0"/>
			<xs:element name="p4" type="t_NIP_10" minOccurs="0"/>
			<xs:element name="p5" type="t_RodzajDokumentu_1" minOccurs="0"/>
			<xs:element name="p6" type="t_IdentyfikatorPlatnUbezp_9" minOccurs="0"/>
			<xs:element name="p7" type="t_Nazwisko_31" minOccurs="0"/>
			<xs:element name="p8" type="t_Imie_22" minOccurs="0"/>
			<xs:element name="p9" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DOOPWSW_B">
		<xs:sequence>
			<xs:element name="p1" type="t_KodTytuluUbezpieczenia_6" minOccurs="0"/>
			<xs:element name="p2" type="t_KodPracywSzczegolnychWarunkach_3" minOccurs="0"/>
			<xs:element name="p3" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p4" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p5" type="t_WymiarCzasuPracy_6" minOccurs="0"/>
			<xs:element name="p6" type="t_KodPracywSzczegolnychWarunkach_3" minOccurs="0"/>
			<xs:element name="p7" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p8" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p9" type="t_WymiarCzasuPracy_6" minOccurs="0"/>
			<xs:element name="p10" type="t_KodPracywSzczegolnychWarunkach_3" minOccurs="0"/>
			<xs:element name="p11" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p12" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p13" type="t_WymiarCzasuPracy_6" minOccurs="0"/>
			<xs:element name="p14" type="t_KodPracywSzczegolnychWarunkach_3" minOccurs="0"/>
			<xs:element name="p15" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p16" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p17" type="t_WymiarCzasuPracy_6" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DOZUA">
		<xs:sequence>
			<xs:element name="p1" type="t_TAK_NIE_1" minOccurs="0"/>
			<xs:element name="p2" type="t_RodzajZgloszenia_1" minOccurs="0"/>
			<xs:element name="p3" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p4" type="t_Nalepka_R_20" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DEOZ">
		<xs:sequence>
			<xs:element name="p1" type="t_Imie_22" minOccurs="0"/>
			<xs:element name="p2" type="t_Nazwisko_31" minOccurs="0"/>
			<xs:element name="p3" type="t_Obywatelstwo_22" minOccurs="0"/>
			<xs:element name="p4" type="t_Plec_1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_TYUB">
		<xs:sequence>
			<xs:element name="p1" type="t_KodTytuluUbezpieczenia_6"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DOWP">
		<xs:sequence>
			<xs:element name="p1" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p2" type="t_TAK_NIE_1" minOccurs="0"/>
			<xs:element name="p3" type="t_TAK_NIE_1" minOccurs="0"/>
			<xs:element name="p4" type="t_TAK_NIE_1" minOccurs="0"/>
			<xs:element name="p5" type="t_TAK_NIE_1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DOOU">
		<xs:sequence>
			<xs:element name="p1" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p2" type="t_KodNFZ_3" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DOBU">
		<xs:sequence>
			<xs:element name="p1" type="t_TAK_NIE_1" minOccurs="0"/>
			<xs:element name="p2" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p3" type="t_TAK_NIE_1" minOccurs="0"/>
			<xs:element name="p4" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p5" type="t_TAK_NIE_1" minOccurs="0"/>
			<xs:element name="p6" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DODU">
		<xs:sequence>
			<xs:element name="p1" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p2" type="t_KodNFZ_3" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_IODZ">
		<xs:sequence>
			<xs:element name="p1" type="t_KodWykonywanegoZawodu_6" minOccurs="0"/>
			<xs:element name="p2" type="t_KodPracywSzczegolnychWarunkach_9" minOccurs="0"/>
			<xs:element name="p3" type="t_OkresOdDo_16" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_ADZMAP">
		<xs:sequence>
			<xs:element name="p1" type="t_KodPocztowy_5" minOccurs="0"/>
			<xs:element name="p2" type="t_Miejscowosc_26" minOccurs="0"/>
			<xs:element name="p3" type="t_Gmina_26" minOccurs="0"/>
			<xs:element name="p4" type="t_Ulica_30" minOccurs="0"/>
			<xs:element name="p5" type="t_NrLokaluDomu_7" minOccurs="0"/>
			<xs:element name="p6" type="t_NrLokaluDomu_7" minOccurs="0"/>
			<xs:element name="p7" type="t_Telefon_12" minOccurs="0"/>
			<xs:element name="p8" type="t_Telefon_12" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_ADKRAP">
		<xs:sequence>
			<xs:element name="p1" type="t_KodPocztowy_5" minOccurs="0"/>
			<xs:element name="p2" type="t_Miejscowosc_26" minOccurs="0"/>
			<xs:element name="p3" type="t_Gmina_26" minOccurs="0"/>
			<xs:element name="p4" type="t_Ulica_30" minOccurs="0"/>
			<xs:element name="p5" type="t_NrLokaluDomu_7" minOccurs="0"/>
			<xs:element name="p6" type="t_NrLokaluDomu_7" minOccurs="0"/>
			<xs:element name="p7" type="t_Telefon_12" minOccurs="0"/>
			<xs:element name="p8" type="t_Telefon_12" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_ADKB">
		<xs:sequence>
			<xs:element name="p1" type="t_KodPocztowy_5" minOccurs="0"/>
			<xs:element name="p2" type="t_Miejscowosc_26" minOccurs="0"/>
			<xs:element name="p3" type="t_Ulica_30" minOccurs="0"/>
			<xs:element name="p4" type="t_NrLokaluDomu_7" minOccurs="0"/>
			<xs:element name="p5" type="t_NrLokaluDomu_7" minOccurs="0"/>
			<xs:element name="p6" type="t_SkrytkaPocztowa_5" minOccurs="0"/>
			<xs:element name="p7" type="t_Telefon_12" minOccurs="0"/>
			<xs:element name="p8" type="t_Telefon_12" minOccurs="0"/>
			<xs:element name="p9" type="t_eMail_30" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DOZWPA">
		<xs:sequence>
			<xs:element name="p1" type="t_TAK_NIE_1" minOccurs="0"/>
			<xs:element name="p2" type="t_TAK_NIE_1" minOccurs="0"/>
			<xs:element name="p3" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p4" type="t_Nalepka_R_20" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DOWL">
		<xs:sequence>
			<xs:element name="p1" type="t_KodPrzyczynyWyrejestrPl_A_3" minOccurs="0"/>
			<xs:element name="p2" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_OPS">
		<xs:sequence>
			<xs:element name="p1" type="t_TAK_NIE_1" minOccurs="0"/>
			<xs:element name="p2" type="t_TAK_NIE_1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DOZWUA">
		<xs:sequence>
			<xs:element name="p1" type="t_TAK_NIE_1" minOccurs="0"/>
			<xs:element name="p2" type="t_TAK_NIE_1" minOccurs="0"/>
			<xs:element name="p3" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p4" type="t_Nalepka_R_20" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_WUBD">
		<xs:sequence>
			<xs:element name="p1" type="t_KodTytuluUbezpieczenia_6"/>
			<xs:element name="p2" type="t_Data_DDMMRRRR_8"/>
			<xs:element name="p3" type="t_KodPrzyczynyWyrejestrUbezp_B_3"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_WRSP">
		<xs:sequence>
			<xs:element name="p1" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p2" type="t_KodWygasStosSluzb_3" minOccurs="0"/>
			<xs:element name="p3" type="t_KodPodstPrawnej_3" minOccurs="0"/>
			<xs:element name="p4" type="t_PodstawaPrawna_72" minOccurs="0"/>
			<xs:element name="p5" type="t_StronaInicjujaca_1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DOZZA">
		<xs:sequence>
			<xs:element name="p1" type="t_TAK_NIE_1" minOccurs="0"/>
			<xs:element name="p2" type="t_RodzajZgloszenia_1" minOccurs="0"/>
			<xs:element name="p3" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p4" type="t_Nalepka_R_20" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_TYUBZ">
		<xs:sequence>
			<xs:element name="p1" type="t_KodTytuluUbezpieczenia_6"/>
			<xs:element name="p2" type="t_KodWykonywanegoZawodu_6" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DDORCA_A">
		<xs:sequence>
			<xs:element name="p1" type="t_Nazwisko_31"/>
			<xs:element name="p2" type="t_Imie_22"/>
			<xs:element name="p3" type="t_TypIdentyfikatora_1"/>
			<xs:element name="p4" type="t_IdentyfikatorUbezpRaporty_11"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DDORCA_B">
		<xs:sequence>
			<xs:element name="p1" type="t_KodTytuluUbezpieczenia_6"/>
			<xs:element name="p2" type="t_Info_o_Przekr_1" minOccurs="0"/>
			<xs:element name="p3" type="t_WymiarCzasuPracy_6" minOccurs="0"/>
			<xs:element name="p4" type="t_Kwota_8" minOccurs="0"/>
			<xs:element name="p5" type="t_Kwota_8" minOccurs="0"/>
			<xs:element name="p6" type="t_Kwota_8" minOccurs="0"/>
			<xs:element name="p7" type="t_Kwota_7" minOccurs="0"/>
			<xs:element name="p8" type="t_Kwota_7" minOccurs="0"/>
			<xs:element name="p9" type="t_Kwota_7" minOccurs="0"/>
			<xs:element name="p10" type="t_Kwota_7" minOccurs="0"/>
			<xs:element name="p11" type="t_Kwota_7" minOccurs="0"/>
			<xs:element name="p12" type="t_Kwota_7" minOccurs="0"/>
			<xs:element name="p13" type="t_Kwota_7" minOccurs="0"/>
			<xs:element name="p14" type="t_Kwota_7" minOccurs="0"/>
			<xs:element name="p15" type="t_Kwota_7" minOccurs="0"/>
			<xs:element name="p16" type="t_Kwota_7" minOccurs="0"/>
			<xs:element name="p17" type="t_Kwota_7" minOccurs="0"/>
			<xs:element name="p18" type="t_Kwota_7" minOccurs="0"/>
			<xs:element name="p19" type="t_Kwota_7" minOccurs="0"/>
			<xs:element name="p20" type="t_Kwota_7" minOccurs="0"/>
			<xs:element name="p21" type="t_Kwota_7" minOccurs="0"/>
			<xs:element name="p22" type="t_Kwota_7" minOccurs="0"/>
			<xs:element name="p23" type="t_Kwota_7" minOccurs="0"/>
			<xs:element name="p24" type="t_Kwota_7" minOccurs="0"/>
			<xs:element name="p25" type="t_Kwota_7" minOccurs="0"/>
			<xs:element name="p26" type="t_Kwota_7" minOccurs="0"/>
			<xs:element name="p27" type="t_Kwota_7" minOccurs="0"/>
			<xs:element name="p28" type="t_Kwota_7" minOccurs="0"/>
			<xs:element name="p29" type="t_Kwota_8" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DDORCA_C">
		<xs:sequence>
			<xs:element name="p1" type="t_Kwota_8" minOccurs="0"/>
			<xs:element name="p2" type="t_Kwota_7" minOccurs="0"/>
			<xs:element name="p3" type="t_Kwota_7" minOccurs="0"/>
			<xs:element name="p4" type="t_Kwota_7" minOccurs="0"/>
			<xs:element name="p5" type="t_Kwota_7" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DDORCA_D">
		<xs:sequence>
			<xs:element name="p1" type="t_Kwota_7" minOccurs="0"/>
			<xs:element name="p2" type="t_Kwota_7" minOccurs="0"/>
			<xs:element name="p3" type="t_Kwota_7" minOccurs="0"/>
			<xs:element name="p4" type="t_Kwota_8" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DDORSA_A">
		<xs:sequence>
			<xs:element name="p1" type="t_Nazwisko_31"/>
			<xs:element name="p2" type="t_Imie_22"/>
			<xs:element name="p3" type="t_TypIdentyfikatora_1"/>
			<xs:element name="p4" type="t_IdentyfikatorUbezpRaporty_11"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DDORSA_B">
		<xs:sequence>
			<xs:element name="p1" type="t_KodTytuluUbezpieczenia_6"/>
			<xs:element name="p2" type="t_KodSwiadczeniaPrzerwy_3"/>
			<xs:element name="p3" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p4" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p5" type="t_LiczbaDni_3" minOccurs="0"/>
			<xs:element name="p6" type="t_Kwota_7" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DCRAP_A">
		<xs:sequence>
			<xs:element name="p1" type="t_ZgloszCzlDlaWersjiA_1" minOccurs="0"/>
			<xs:element name="p2" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p3" type="t_PESEL_11" minOccurs="0"/>
			<xs:element name="p4" type="t_NIP_10" minOccurs="0"/>
			<xs:element name="p5" type="t_RodzajDokumentu_1" minOccurs="0"/>
			<xs:element name="p6" type="t_IdentyfikatorPlatnUbezp_9" minOccurs="0"/>
			<xs:element name="p7" type="t_Nazwisko_31" minOccurs="0"/>
			<xs:element name="p8" type="t_Imie_22" minOccurs="0"/>
			<xs:element name="p9" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p10" type="t_KodStopniaPokrewienstwa_2" minOccurs="0"/>
			<xs:element name="p11" type="t_TAK_NIE_1" minOccurs="0"/>
			<xs:element name="p12" type="t_KodTytUbezp_KodStopniaNiep_1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DCRAP_B">
		<xs:sequence>
			<xs:element name="p1" type="t_KodPocztowy_5" minOccurs="0"/>
			<xs:element name="p2" type="t_Miejscowosc_26" minOccurs="0"/>
			<xs:element name="p3" type="t_Gmina_26" minOccurs="0"/>
			<xs:element name="p4" type="t_Ulica_30" minOccurs="0"/>
			<xs:element name="p5" type="t_NrLokaluDomu_7" minOccurs="0"/>
			<xs:element name="p6" type="t_NrLokaluDomu_7" minOccurs="0"/>
			<xs:element name="p7" type="t_Telefon_12" minOccurs="0"/>
			<xs:element name="p8" type="t_Telefon_12" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Typy Dokumentów -->
	<xs:complexType name="t_DRA">
		<xs:sequence>
			<xs:element name="naglowek.DP" type="t_naglowek_DP" minOccurs="0"/>
			<xs:element name="identyfikacja.PL" type="t_dane_PL_id" minOccurs="0"/>
			<xs:element name="cechy.DP" type="t_cechy" minOccurs="0"/>
			<xs:element name="I" type="t_DADRA"/>
			<xs:element name="II" type="t_DIPL" minOccurs="0"/>
			<xs:element name="III" type="t_INNI" minOccurs="0"/>
			<xs:element name="IV" type="t_ZSDRAI" minOccurs="0"/>
			<xs:element name="V" type="t_ZWDRA" minOccurs="0"/>
			<xs:element name="VI" type="t_ZSDRA" minOccurs="0"/>
			<xs:element name="VII" type="t_ZDRAV" minOccurs="0"/>
			<xs:element name="VIII" type="t_LSKD" minOccurs="0"/>
			<xs:element name="IX" type="t_RIXDRA" minOccurs="0"/>
			<xs:element name="X" type="t_DDDU" minOccurs="0"/>
			<xs:element name="XI" type="t_ZDR" minOccurs="0"/>
			<xs:element name="XII" type="t_RRSR" minOccurs="0"/>
			<xs:element name="XIII" type="t_OPLS" minOccurs="0"/>
			<xs:element name="stopka.DP" type="t_stopka_DP" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyDokumentu"/>
		<xs:attributeGroup ref="AtrybutyDeklaracjiRaportu"/>
	</xs:complexType>
	<xs:complexType name="t_IWA">
		<xs:sequence>
			<xs:element name="naglowek.DP" type="t_naglowek_DP" minOccurs="0"/>
			<xs:element name="identyfikacja.PL" type="t_dane_PL_id" minOccurs="0"/>
			<xs:element name="cechy.DP" type="t_cechy" minOccurs="0"/>
			<xs:element name="I" type="t_DOIWA"/>
			<xs:element name="II" type="t_DIPL" minOccurs="0"/>
			<xs:element name="III" type="t_DOLUUW"/>
			<xs:element name="IV" type="t_ZDKRPS"/>
			<xs:element name="V" type="t_ADKP" minOccurs="0"/>
			<xs:element name="VI" type="t_OPLR" minOccurs="0"/>
			<xs:element name="stopka.DP" type="t_stopka_DP" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyDokumentu"/>
	</xs:complexType>
	<xs:complexType name="t_RCA">
		<xs:sequence>
			<xs:element name="naglowek.DP" type="t_naglowek_DP" minOccurs="0"/>
			<xs:element name="identyfikacja.PL" type="t_dane_PL_id" minOccurs="0"/>
			<xs:element name="cechy.DP" type="t_cechy" minOccurs="0"/>
			<xs:element name="I" type="t_DORCA"/>
			<xs:element name="II" type="t_DIPL" minOccurs="0"/>
			<xs:element name="III" type="t_DDORCA" maxOccurs="unbounded"/>
			<xs:element name="IV" type="t_OPLR" minOccurs="0"/>
			<xs:element name="stopka.DP" type="t_stopka_DP" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyDokumentu"/>
		<xs:attributeGroup ref="AtrybutyDeklaracjiRaportu"/>
	</xs:complexType>
	<xs:simpleType name="t_DATA_RRRR_2017">
		<xs:restriction base="xs:gYear">
			<xs:minInclusive value="2017"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="t_RSA">
		<xs:sequence>
			<xs:element name="naglowek.DP" type="t_naglowek_DP" minOccurs="0"/>
			<xs:element name="identyfikacja.PL" type="t_dane_PL_id" minOccurs="0"/>
			<xs:element name="cechy.DP" type="t_cechy" minOccurs="0"/>
			<xs:element name="I" type="t_DORSA"/>
			<xs:element name="II" type="t_DIPL" minOccurs="0"/>
			<xs:element name="III" type="t_DDORSA" maxOccurs="unbounded"/>
			<xs:element name="XI" type="t_OPLR" minOccurs="0"/>
			<xs:element name="stopka.DP" type="t_stopka_DP" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyDokumentu"/>
		<xs:attributeGroup ref="AtrybutyDeklaracjiRaportu"/>
	</xs:complexType>
	<xs:complexType name="t_ZAA">
		<xs:sequence>
			<xs:element name="naglowek.DP" type="t_naglowek_DP" minOccurs="0"/>
			<xs:element name="identyfikacja.PL" type="t_dane_PL_id" minOccurs="0"/>
			<xs:element name="cechy.DP" type="t_cechy" minOccurs="0"/>
			<xs:element name="I" type="t_DOZCBA" minOccurs="0"/>
			<xs:element name="II" type="t_DIPL" minOccurs="0"/>
			<xs:element name="III" type="t_ADPGAP" maxOccurs="unbounded"/>
			<xs:element name="IX" type="t_OPL1" minOccurs="0"/>
			<xs:element name="stopka.DP" type="t_stopka_DP" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyDokumentu"/>
	</xs:complexType>
	<xs:complexType name="t_ZBA">
		<xs:sequence>
			<xs:element name="naglowek.DP" type="t_naglowek_DP" minOccurs="0"/>
			<xs:element name="identyfikacja.PL" type="t_dane_PL_id" minOccurs="0"/>
			<xs:element name="cechy.DP" type="t_cechy" minOccurs="0"/>
			<xs:element name="I" type="t_DOZCBA" minOccurs="0"/>
			<xs:element name="II" type="t_DIPL" minOccurs="0"/>
			<xs:element name="III" type="t_IORB" maxOccurs="unbounded"/>
			<xs:element name="IX" type="t_OPL1" minOccurs="0"/>
			<xs:element name="stopka.DP" type="t_stopka_DP" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyDokumentu"/>
	</xs:complexType>
	<xs:complexType name="t_ZCNA">
		<xs:sequence>
			<xs:element name="naglowek.DP" type="t_naglowek_DP" minOccurs="0"/>
			<xs:element name="identyfikacja.PL" type="t_dane_PL_id" minOccurs="0"/>
			<xs:element name="identyfikacja.UB" type="t_dane_UB_id" minOccurs="0"/>
			<xs:element name="cechy.DP" type="t_cechy" minOccurs="0"/>
			<xs:element name="I" type="t_DOZCBA" minOccurs="0"/>
			<xs:element name="II" type="t_DIPL" minOccurs="0"/>
			<xs:element name="III" type="t_DAU" minOccurs="0"/>
			<xs:element name="IV" type="t_DCRAP" maxOccurs="unbounded"/>
			<xs:element name="VI" type="t_OPL1" minOccurs="0"/>
			<xs:element name="stopka.DP" type="t_stopka_DP" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyDokumentu"/>
	</xs:complexType>
	<xs:complexType name="t_ZFA">
		<xs:sequence>
			<xs:element name="naglowek.DP" type="t_naglowek_DP" minOccurs="0"/>
			<xs:element name="identyfikacja.PL" type="t_dane_PL_id" minOccurs="0"/>
			<xs:element name="cechy.DP" type="t_cechy" minOccurs="0"/>
			<xs:element name="I" type="t_DOZPF" minOccurs="0"/>
			<xs:element name="II" type="t_DIPL" minOccurs="0"/>
			<xs:element name="III" type="t_DEPL" minOccurs="0"/>
			<xs:element name="IV" type="t_PPDB"/>
			<xs:element name="V" type="t_DORB" minOccurs="0"/>
			<xs:element name="VI" type="t_ADSAPAP" minOccurs="0"/>
			<xs:element name="VII" type="t_ADZMPAP" minOccurs="0"/>
			<xs:element name="VIII" type="t_ADKP" minOccurs="0"/>
			<xs:element name="IX" type="t_DOBR" minOccurs="0"/>
			<xs:element name="X" type="t_OPL2" minOccurs="0"/>
			<xs:element name="stopka.DP" type="t_stopka_DP" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyDokumentu"/>
	</xs:complexType>
	<xs:complexType name="t_ZIPA">
		<xs:sequence>
			<xs:element name="naglowek.DP" type="t_naglowek_DP" minOccurs="0"/>
			<xs:element name="identyfikacja.PL" type="t_dane_PL_id" minOccurs="0"/>
			<xs:element name="cechy.DP" type="t_cechy" minOccurs="0"/>
			<xs:element name="I" type="t_DOZIPA" minOccurs="0"/>
			<xs:element name="II" type="t_DIPL" minOccurs="0"/>
			<xs:element name="III" type="t_ADIP" minOccurs="0"/>
			<xs:element name="IV" type="t_OPL1" minOccurs="0"/>
			<xs:element name="stopka.DP" type="t_stopka_DP" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyDokumentu"/>
	</xs:complexType>
	<xs:complexType name="t_ZIUA">
		<xs:sequence>
			<xs:element name="naglowek.DP" type="t_naglowek_DP" minOccurs="0"/>
			<xs:element name="identyfikacja.PL" type="t_dane_PL_id" minOccurs="0"/>
			<xs:element name="identyfikacja.UB" type="t_dane_UB_id" minOccurs="0"/>
			<xs:element name="cechy.DP" type="t_cechy" minOccurs="0"/>
			<xs:element name="I" type="t_DOZIUA" minOccurs="0"/>
			<xs:element name="II" type="t_DIPL" minOccurs="0"/>
			<xs:element name="III" type="t_DIOP" minOccurs="0"/>
			<xs:element name="IV" type="t_ADIU" minOccurs="0"/>
			<xs:element name="V" type="t_OPL1" minOccurs="0"/>
			<xs:element name="stopka.DP" type="t_stopka_DP" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyDokumentu"/>
	</xs:complexType>
	<xs:complexType name="t_ZPA">
		<xs:sequence>
			<xs:element name="naglowek.DP" type="t_naglowek_DP" minOccurs="0"/>
			<xs:element name="identyfikacja.PL" type="t_dane_PL_id" minOccurs="0"/>
			<xs:element name="cechy.DP" type="t_cechy" minOccurs="0"/>
			<xs:element name="I" type="t_DOZPF" minOccurs="0"/>
			<xs:element name="II" type="t_DAIP" minOccurs="0"/>
			<xs:element name="III" type="t_DEWPLP"/>
			<xs:element name="IV" type="t_DORB" minOccurs="0"/>
			<xs:element name="V" type="t_ADSAPAP" minOccurs="0"/>
			<xs:element name="VI" type="t_ADKP" minOccurs="0"/>
			<xs:element name="VII" type="t_DOBR" minOccurs="0"/>
			<xs:element name="VIII" type="t_OPL2" minOccurs="0"/>
			<xs:element name="stopka.DP" type="t_stopka_DP" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyDokumentu"/>
	</xs:complexType>
	<xs:complexType name="t_ZSWA">
		<xs:sequence>
			<xs:element name="naglowek.DP" type="t_naglowek_DP" minOccurs="0"/>
			<xs:element name="identyfikacja.PL" type="t_dane_PL_id" minOccurs="0"/>
			<xs:element name="cechy.DP" type="t_cechy" minOccurs="0"/>
			<xs:element name="I" type="t_DOZD"/>
			<xs:element name="II" type="t_DIPL" minOccurs="0"/>
			<xs:element name="III" type="t_DOOPWSW" maxOccurs="unbounded"/>
			<xs:element name="VII" type="t_OPL1" minOccurs="0"/>
			<xs:element name="stopka.DP" type="t_stopka_DP" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyDokumentu"/>
	</xs:complexType>
	<xs:complexType name="t_ZUA">
		<xs:sequence>
			<xs:element name="naglowek.DP" type="t_naglowek_DP" minOccurs="0"/>
			<xs:element name="identyfikacja.PL" type="t_dane_PL_id" minOccurs="0"/>
			<xs:element name="identyfikacja.UB" type="t_dane_UB_id" minOccurs="0"/>
			<xs:element name="cechy.DP" type="t_cechy" minOccurs="0"/>
			<xs:element name="I" type="t_DOZUA" minOccurs="0"/>
			<xs:element name="II" type="t_DIPL" minOccurs="0"/>
			<xs:element name="III" type="t_DAU" minOccurs="0"/>
			<xs:element name="IV" type="t_DEOZ" minOccurs="0"/>
			<xs:element name="V" type="t_TYUB"/>
			<xs:element name="VI" type="t_DOWP" minOccurs="0"/>
			<xs:element name="VII" type="t_DOOU" minOccurs="0"/>
			<xs:element name="VIII" type="t_DOBU" minOccurs="0"/>
			<xs:element name="IX" type="t_DODU" minOccurs="0"/>
			<xs:element name="X" type="t_IODZ" minOccurs="0"/>
			<xs:element name="XI" type="t_ADZMAP" minOccurs="0"/>
			<xs:element name="XII" type="t_ADKRAP" minOccurs="0"/>
			<xs:element name="XIII" type="t_ADKB" minOccurs="0"/>
			<xs:element name="XIV" type="t_OPL1" minOccurs="0"/>
			<xs:element name="stopka.DP" type="t_stopka_DP" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyDokumentu"/>
	</xs:complexType>
	<xs:complexType name="t_OSW">
		<xs:sequence>
			<xs:element name="naglowek.DP" type="t_naglowek_DP" minOccurs="0"/>
			<xs:element name="identyfikacja.PL" type="t_dane_PL_id" minOccurs="0"/>
			<xs:element name="cechy.DP" type="t_cechy" minOccurs="0"/>
			<xs:element name="I" type="t_DIPL" minOccurs="0"/>
			<xs:element name="II" type="t_OPS" minOccurs="0"/>
			<xs:element name="III" type="t_OPL1" minOccurs="0"/>
			<xs:element name="stopka.DP" type="t_stopka_DP" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyDokumentu"/>
	</xs:complexType>
	<xs:complexType name="t_ZWPA">
		<xs:sequence>
			<xs:element name="naglowek.DP" type="t_naglowek_DP" minOccurs="0"/>
			<xs:element name="identyfikacja.PL" type="t_dane_PL_id" minOccurs="0"/>
			<xs:element name="cechy.DP" type="t_cechy" minOccurs="0"/>
			<xs:element name="I" type="t_DOZWPA" minOccurs="0"/>
			<xs:element name="II" type="t_DIPL" minOccurs="0"/>
			<xs:element name="III" type="t_DOWL" minOccurs="0"/>
			<xs:element name="IV" type="t_OPL1" minOccurs="0"/>
			<xs:element name="stopka.DP" type="t_stopka_DP" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyDokumentu"/>
	</xs:complexType>
	<xs:complexType name="t_ZWUA">
		<xs:sequence>
			<xs:element name="naglowek.DP" type="t_naglowek_DP" minOccurs="0"/>
			<xs:element name="identyfikacja.PL" type="t_dane_PL_id" minOccurs="0"/>
			<xs:element name="identyfikacja.UB" type="t_dane_UB_id" minOccurs="0"/>
			<xs:element name="cechy.DP" type="t_cechy" minOccurs="0"/>
			<xs:element name="I" type="t_DOZWUA" minOccurs="0"/>
			<xs:element name="II" type="t_DIPL" minOccurs="0"/>
			<xs:element name="III" type="t_DAU" minOccurs="0"/>
			<xs:element name="IV" type="t_WUBD"/>
			<xs:element name="V" type="t_WRSP" minOccurs="0"/>
			<xs:element name="VI" type="t_OPL1" minOccurs="0"/>
			<xs:element name="stopka.DP" type="t_stopka_DP" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyDokumentu"/>
	</xs:complexType>
	<xs:complexType name="t_ZZA">
		<xs:sequence>
			<xs:element name="naglowek.DP" type="t_naglowek_DP" minOccurs="0"/>
			<xs:element name="identyfikacja.PL" type="t_dane_PL_id" minOccurs="0"/>
			<xs:element name="identyfikacja.UB" type="t_dane_UB_id" minOccurs="0"/>
			<xs:element name="cechy.DP" type="t_cechy" minOccurs="0"/>
			<xs:element name="I" type="t_DOZZA" minOccurs="0"/>
			<xs:element name="II" type="t_DIPL" minOccurs="0"/>
			<xs:element name="III" type="t_DAU" minOccurs="0"/>
			<xs:element name="IV" type="t_DEOZ" minOccurs="0"/>
			<xs:element name="V" type="t_TYUBZ"/>
			<xs:element name="VI" type="t_DOOU" minOccurs="0"/>
			<xs:element name="VII" type="t_DODU" minOccurs="0"/>
			<xs:element name="VIII" type="t_ADZMAP" minOccurs="0"/>
			<xs:element name="IX" type="t_ADKRAP" minOccurs="0"/>
			<xs:element name="X" type="t_ADKB" minOccurs="0"/>
			<xs:element name="XI" type="t_OPL1" minOccurs="0"/>
			<xs:element name="stopka.DP" type="t_stopka_DP" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyDokumentu"/>
	</xs:complexType>
	<!-- Typ Zestawu -->
	<xs:complexType name="t_zestaw">
		<xs:sequence>
			<xs:element name="identyfikacja.PL" type="t_dane_PL_id" minOccurs="0"/>
			<xs:element name="cechy.zestawu" type="t_cechy" minOccurs="0"/>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="ZUSDRA" type="t_DRA"/>
				<xs:element name="ZUSRCA" type="t_RCA"/>
				<xs:element name="ZUSRSA" type="t_RSA"/>
				<xs:element name="ZUSZAA" type="t_ZAA"/>
				<xs:element name="ZUSZBA" type="t_ZBA"/>
				<xs:element name="ZUSZCNA" type="t_ZCNA"/>
				<xs:element name="ZUSZFA" type="t_ZFA"/>
				<xs:element name="ZUSZIPA" type="t_ZIPA"/>
				<xs:element name="ZUSZIUA" type="t_ZIUA"/>
				<xs:element name="ZUSZPA" type="t_ZPA"/>
				<xs:element name="ZUSZSWA" type="t_ZSWA"/>
				<xs:element name="ZUSZUA" type="t_ZUA"/>
				<xs:element name="ZUSZWPA" type="t_ZWPA"/>
				<xs:element name="ZUSZWUA" type="t_ZWUA"/>
				<xs:element name="ZUSZZA" type="t_ZZA"/>
				<xs:element name="ZUSIWA" type="t_IWA"/>
				<xs:element name="ZUSOSW" type="t_OSW"/>
				<xs:element name="ZUSRPA" type="t_RPA"/>
				<xs:element name="ZUSRIA" type="t_RIA"/>
				<xs:element name="ZUSDRA2" type="t_DRR2"/>
				<xs:element name="ZUSRCA2" type="t_DRR2"/>
			</xs:choice>
			<xs:element name="stopka.ZDP" type="t_stopka_ZDP" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyZestawu"/>
	</xs:complexType>
	<!-- Typ KEDU - Kolekcja Elektronicznych Dokumentów Ubezpieczeniowych -->
	<xs:complexType name="t_KEDU">
		<xs:sequence>
			<xs:element name="naglowek.KEDU" type="t_naglowek_KEDU"/>
			<xs:element name="cechy.KEDU" type="t_cechy" minOccurs="0"/>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="ZUSDRA" type="t_DRA"/>
				<xs:element name="ZUSRCA" type="t_RCA"/>
				<xs:element name="ZUSRSA" type="t_RSA"/>
				<xs:element name="ZUSZAA" type="t_ZAA"/>
				<xs:element name="ZUSZBA" type="t_ZBA"/>
				<xs:element name="ZUSZCNA" type="t_ZCNA"/>
				<xs:element name="ZUSZFA" type="t_ZFA"/>
				<xs:element name="ZUSZIPA" type="t_ZIPA"/>
				<xs:element name="ZUSZIUA" type="t_ZIUA"/>
				<xs:element name="ZUSZPA" type="t_ZPA"/>
				<xs:element name="ZUSZSWA" type="t_ZSWA"/>
				<xs:element name="ZUSZUA" type="t_ZUA"/>
				<xs:element name="ZUSZWPA" type="t_ZWPA"/>
				<xs:element name="ZUSZWUA" type="t_ZWUA"/>
				<xs:element name="ZUSZZA" type="t_ZZA"/>
				<xs:element name="ZUSIWA" type="t_IWA"/>
				<xs:element name="ZUSOSW" type="t_OSW"/>
				<xs:element name="ZUSRPA" type="t_RPA"/>
				<xs:element name="ZUSRIA" type="t_RIA"/>
				<xs:element name="ZUSDRA2" type="t_DRR2"/>
				<xs:element name="ZUSRCA2" type="t_DRR2"/>
				<xs:element name="zestaw" type="t_zestaw"/>
			</xs:choice>
			<xs:element name="stopka.KEDU" type="t_stopka_KEDU" minOccurs="0"/>
			<xs:element ref="ds:Signature" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyKEDU"/>
	</xs:complexType>
	<xs:element name="KEDU" type="t_KEDU"/>
	<xs:complexType name="t_RPA">
		<xs:sequence>
			<xs:element name="naglowek.DP" type="t_naglowek_DP" minOccurs="0"/>
			<xs:element name="identyfikacja.PL" type="t_dane_PL_id" minOccurs="0"/>
			<xs:element name="cechy.DP" type="t_cechy" minOccurs="0"/>
			<xs:element name="I" type="t_RPAI" minOccurs="0"/>
			<xs:element name="II" type="t_DIPL" minOccurs="0"/>
			<xs:element name="III" type="t_RPAIII" maxOccurs="unbounded"/>
			<xs:element name="IV" type="t_RPAIV" minOccurs="0"/>
			<xs:element name="stopka.DP" type="t_stopka_DP" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyDokumentu"/>
		<xs:attributeGroup ref="AtrybutyDeklaracjiRaportu"/>
	</xs:complexType>
	<xs:complexType name="t_RPAIII">
		<xs:sequence>
			<xs:element name="identyfikacja.UB" type="t_dane_UB_id" minOccurs="0"/>
			<xs:element name="cechy.BL" type="t_cechy" minOccurs="0"/>
			<xs:element name="A" type="t_RPAIIIA" minOccurs="0"/>
			<xs:element name="B" type="t_RPAIIIBCE" minOccurs="0"/>
			<xs:element name="C" type="t_RPAIIIBCE" minOccurs="0"/>
			<xs:element name="D" type="t_RPAIIID" minOccurs="0"/>
			<xs:element name="E" type="t_RPAIIIBCE" minOccurs="0"/>
			<xs:element name="F" type="t_RPAIIIF" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyBlokuWielokrotnego"/>
		<xs:attributeGroup ref="AtrybutyBlokuRaportu"/>
	</xs:complexType>
	<xs:complexType name="t_RPAI">
		<xs:sequence>
			<xs:element name="p1" type="t_IdentyfikatorDeklRap_8" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_RPAIIIA">
		<xs:sequence>
			<xs:element name="p1" type="t_Nazwisko_31"/>
			<xs:element name="p2" type="t_Imie_22"/>
			<xs:element name="p3" type="t_TypIdentyfikatora_1"/>
			<xs:element name="p4" type="t_IdentyfikatorUbezpRaporty_11"/>
			<xs:element name="p5" type="t_KodTytuluUbezpieczenia_6" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_RPAIIIBCE">
		<xs:sequence>
			<xs:element name="p1" type="t_Data_RRRR_1999_4" minOccurs="0"/>
			<xs:element name="p2" type="t_Kwota_8" minOccurs="0"/>
			<xs:element name="p3" type="t_Data_RRRR_1999_4" minOccurs="0"/>
			<xs:element name="p4" type="t_Kwota_8" minOccurs="0"/>
			<xs:element name="p5" type="t_Data_RRRR_1999_4" minOccurs="0"/>
			<xs:element name="p6" type="t_Kwota_8" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_RPAIIID">
		<xs:sequence>
			<xs:element name="p1" type="t_Kwota_8" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_RPAIIIF">
		<xs:sequence>
			<xs:element name="p1" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p2" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p3" type="t_RPAIIIFP3_7" minOccurs="0"/>
			<xs:element name="p4" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p5" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p6" type="t_RPAIIIFP3_7" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_RPAIV">
		<xs:sequence>
			<xs:element name="p1" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_RPAIIIFP3_7">
		<xs:sequence>
			<xs:element name="p1" type="t_WymiarCzasuPracy_Licznik_3" minOccurs="0"/>
			<xs:element name="p2" type="t_WymiarCzasuPracy_Mian_3" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_RIA">
		<xs:sequence>
			<xs:element name="naglowek.DP" type="t_naglowek_DP" minOccurs="0"/>
			<xs:element name="identyfikacja.PL" type="t_dane_PL_id" minOccurs="0"/>
			<xs:element name="identyfikacja.UB" type="t_dane_UB_id" minOccurs="0"/>
			<xs:element name="cechy.DP" type="t_cechy" minOccurs="0"/>
			<xs:element name="I" type="t_RIAI" minOccurs="0"/>
			<xs:element name="II" type="t_DIPL" minOccurs="0"/>
			<xs:element name="III" type="t_RIAIII" minOccurs="0"/>
			<xs:element name="IV" type="t_WRSP" minOccurs="0"/>
			<xs:element name="V" type="t_RIAV_VI_VII" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="VI" type="t_RIAV_VI_VII" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="VII" type="t_RIAV_VI_VII" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="VIII" type="t_RIAVIII" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="IX" type="t_RIAIX" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="X1" type="t_RIAX1" minOccurs="0"/>
			<xs:element name="X" type="t_RIAX" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="XI" type="t_RIAXI" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="XII" type="t_RIAXII" minOccurs="0"/>
			<xs:element name="stopka.DP" type="t_stopka_DP" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyDokumentu"/>
		<xs:attributeGroup ref="AtrybutyDeklaracjiRaportu"/>
	</xs:complexType>
	<xs:complexType name="t_RIAI">
		<xs:sequence>
			<xs:element name="p1" type="t_RodzajZgloszenia_1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_RIAIII">
		<xs:sequence>
			<xs:element name="p1" type="t_Nazwisko_31"/>
			<xs:element name="p2" type="t_Imie_22"/>
			<xs:element name="p3" type="t_TypIdentyfikatora_1"/>
			<xs:element name="p4" type="t_IdentyfikatorUbezpRaporty_11"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_RIAV_VI_VII">
		<xs:sequence>
			<xs:element name="p1" type="t_Data_RRRR_1999_4" minOccurs="0"/>
			<xs:element name="p2" type="t_Data_RRRR_1999_4" minOccurs="0"/>
			<xs:element name="p3" type="t_Kwota_12" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyBlokuWielokrotnego"/>
	</xs:complexType>
	<xs:complexType name="t_RIAVIII">
		<xs:sequence>
			<xs:element name="p1" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p2" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p3" type="t_WymiarCzasuZajec_6" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyBlokuWielokrotnego"/>
	</xs:complexType>
	<xs:complexType name="t_RIAX1">
		<xs:sequence>
			<xs:element name="p1" type="t_TAK_NIE_1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_RIAX">
		<xs:sequence>
			<xs:element name="p2" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p3" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p4" type="t_TAK_NIE_1" minOccurs="0"/>
			<xs:element name="p5" type="t_WymiarCzasuPracy_6" minOccurs="0"/>
			<xs:element name="p6" type="t_KodPracywSzczegolnychWarunkach_9" minOccurs="0"/>
			<xs:element name="p7" type="t_KodPracywSzczegolnychWarunkach_9" minOccurs="0"/>
			<xs:element name="p8" type="t_NazwaStanowiskaPracy_36" minOccurs="0"/>
			<xs:element name="p9" type="t_NazwaStanowiskaPracy_36" minOccurs="0"/>
			<xs:element name="p10" type="t_KodPracywSzczegolnychWarunkach_9" minOccurs="0"/>
			<xs:element name="p11" type="t_NazwaStanowiskaPracy_36" minOccurs="0"/>
			<xs:element name="p12" type="t_NazwaStanowiskaPracy_36" minOccurs="0"/>
			<xs:element name="p13" type="t_TAK_NIE_1" minOccurs="0"/>
			<xs:element name="p14" type="t_TAK_NIE_1" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyBlokuWielokrotnego"/>
	</xs:complexType>
	<xs:complexType name="t_RIAIX">
		<xs:sequence>
			<xs:element name="p1" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p2" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p3" type="t_WymiarCzasuZajec_6" minOccurs="0"/>
			<xs:element name="p4" type="t_TAK_NIE_1" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyBlokuWielokrotnego"/>
	</xs:complexType>
	<xs:complexType name="t_RIAXI">
		<xs:sequence>
			<xs:element name="p1" type="t_KodPracywSzczegolnychWarunkach_3" minOccurs="0"/>
			<xs:element name="p2" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p3" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p4" type="t_WymiarCzasuPracy_6" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyBlokuWielokrotnego"/>
	</xs:complexType>
	<xs:complexType name="t_RIAXII">
		<xs:sequence>
			<xs:element name="p1" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DRR2">
		<xs:sequence>
			<xs:element name="naglowek.DP" type="t_naglowek_DP" minOccurs="0"/>
			<xs:element name="identyfikacja.PL" type="t_dane_PL_id" minOccurs="0"/>
			<xs:element name="cechy.DP" type="t_cechy" minOccurs="0"/>
			<xs:element name="I" type="t_DRR2I" minOccurs="0"/>
			<xs:element name="II" type="t_DIPL" minOccurs="0"/>
			<xs:element name="III" type="t_DRR2III" minOccurs="0"/>
			<xs:element name="IV" type="t_DRR2IV" minOccurs="0"/>
			<xs:element name="V" type="t_DRR2V" minOccurs="0"/>
			<xs:element name="stopka.DP" type="t_stopka_DP" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="AtrybutyDokumentu"/>
		<xs:attributeGroup ref="AtrybutyDeklaracjiRaportu"/>
	</xs:complexType>
	<xs:complexType name="t_DRR2I">
		<xs:sequence>
			<xs:element name="p1" type="t_IdentDeklRap_2" minOccurs="0"/>
			<xs:element name="p2" type="t_Data_RRRR_1999_4" minOccurs="0"/>
			<xs:element name="p3" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
			<xs:element name="p4" type="t_Nalepka_R_20" minOccurs="0"/>
			<xs:element name="p5" type="t_ZnakiNrSprawy_12" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DRR2III">
		<xs:sequence>
			<xs:element name="p1" type="t_Kwota_10" minOccurs="0"/>
			<xs:element name="p2" type="t_Kwota_10" minOccurs="0"/>
			<xs:element name="p3" type="t_Kwota_10" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DRR2IV">
		<xs:sequence>
			<xs:element name="p1" type="t_Kwota_8" minOccurs="0"/>
			<xs:element name="p2" type="t_Kwota_8" minOccurs="0"/>
			<xs:element name="p3" type="t_Kwota_8" minOccurs="0"/>
			<xs:element name="p4" type="t_Kwota_8" minOccurs="0"/>
			<xs:element name="p5" type="t_Kwota_8" minOccurs="0"/>
			<xs:element name="p6" type="t_Kwota_8" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="t_DRR2V">
		<xs:sequence>
			<xs:element name="p1" type="t_Data_DDMMRRRR_8" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Koniec Schematu -->
</xs:schema>
